body {
	background-color: #777;
}
header {
	width: 82%;
	height: 50px;
	margin-left: 100px;
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #ebebeb;
	color: black;
  	text-align: center;
}

nav {
	width: 82%;
  	height: 50px;
  	margin-left: 100px;
  	margin-top: 15px;
  	padding-bottom: 10px;
  	background-color: #ebebeb;
 
  color: black;
  text-align: center;
}

aside {
	width: 33%;
	height: 400px;
	margin-top: 20px;
	margin-right: 195px;
	background-color: #ebebeb;
	text-align: center;
	float: right;
	

}

section {
	width: 46%;
	height: 400px;
	background-color: #ebebeb;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;

}

article {
	clear: both;
	width: 650px ;
	height: 215px;
	margin-top: 150px;
	margin-left: 55px;
	position: absolute;
	background-color: #777;
	text-align: center;
	
	
}
.headings {
	width: 525px;
	height: 50px;
	margin-left: 60px;
	margin-top: 50px;
	background-color: #ebebeb;
}

.p {
	width: 525px;
	height: 50px;
	margin-left: 60px;
	background-color: #ebebeb;
}
footer {
  clear: both;
  width: 82%;
  height: 50px;
  margin-left: 100px;
  margin-top: 24px;
  background-color: #ebebeb;
  color: black;
  text-align: center;
} 


}
.clear


